.cards {
  &:hover {
    .card {
      background: radial-gradient(100rem circle at var(--xPos) var(--yPos), rgba(white, 0.4), transparent 15%);
    }
  }
  .card {
    padding: 0.1rem;

    position: relative;
    transition: all 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      transform: scale(0.97);
      &::before {
        opacity: 1;
      }
    }
    &::before {
      content: '';
      pointer-events: none;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      border-radius: inherit;
      background: radial-gradient(60rem circle at var(--xPos) var(--yPos), rgba(white, 0.1), transparent 35%);
      opacity: 0;
      transition: all 0.15s ease-in-out;
    }
  }
  .card-content {
    border-radius: inherit;
    transition: all 0.25s;
    width: 100%;
    height: 100%;
  }
}
